[package]
name = "rype"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
needletail = "0.6.3"
rayon = "1.8"
roaring = "0.11.3"
anyhow = "1.0"

[dev-dependencies]
tempfile = "3.8"

