[package]
name = "ry_partitioner"
version = "0.1.0"
edition = "2021" # Rust 2024 is not yet stable in most toolchains; 2021 is safest.

[lib]
name = "ry_partitioner"
crate-type = ["cdylib"]

[dependencies]
needletail = "0.6.3"
# The "abi3" feature is often recommended for stability, 
# but strictly speaking just the base crate works.
pyo3 = { version = "0.23.3", features = ["extension-module"] } 
rayon = "1.11.0"
roaring = "0.11.3"

